#toc {
  display: none;
  position: fixed;
  top: 40px;
  right: 0;
  z-index: 99;
}

em {
  font-style: normal;
  color:steelblue;
}

#new_tag {
  border-radius: 20px;
  background-color: #ffffff;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  color: #e80000;
  margin-right: 2px;
  margin-left: 4px;
  margin-bottom: 2px;
  vertical-align: super;
  margin-left: 4px;
  font-size: 10px;
  padding: 1px 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.65);
}


/* google translate css*/
/* #google_translate_element {
  position: top;
  top: 10px !important;
  width: 90%;
  height: 90%;
  bottom: calc(53px + 16px);
  right: 16px !important;
} */
.goog-te-gadget {
  font-family: Roboto, "Open Sans", sans-serif !important;
  text-transform: uppercase;
}
.goog-te-gadget-simple {
  background-color: rgba(11, 168, 32, 0.795) !important;
  border: 1px solid rgba(20, 168, 65, 0.5) !important;
  padding: 8px !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  line-height: 2rem !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 200%;
  width: 200%;
}

.goog-te-menu-value {
  color: #fff !important;
}
.goog-te-menu-value:before {
  font-family: "Material Icons";
  content: "\E927";
  margin-right: 16px;
  font-size: 2rem;
  vertical-align: -10px;
}
.goog-te-menu-value span:nth-child(5) {
  display: none;
}
.goog-te-menu-value span:nth-child(3) {
  border: none !important;
  font-family: "Material Icons";
}
.goog-te-menu-value span:nth-child(3):after {
  font-family: "Material Icons";
  content: "\E5C5";
  font-size: 1.5rem;
  vertical-align: -6px;
}
.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0px 0px;
  height: 32px !important;
  width: 32px !important;
  margin-right: 8px !important;
  display: none;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
/* ================================== *\ Mediaqueries \* ================================== */
@media (max-width: 667px) {
  #google_translate_element {
    bottom: calc(100% - 50% - 53px);
    left: 16px !important;
    width: 100% !important;
  }
  #google_translate_element goog-te-gadget {
    width: 100% !important;
  }
  #google_translate_element .skiptranslate {
    width: 100% !important;
  }
  #google_translate_element .goog-te-gadget-simple {
    width: calc(100% - 32px) !important;
    text-align: center;
  }
}

/* TOC styles*/

.w3-dropdown-content  {
      cursor:auto;
      color:#000;
      background-color:#fff;
      display:none;
      position:absolute;
      height: 500px;
      overflow-y: auto;
      min-width:160px;
      margin:0;
      padding:0;z-index:1
    }