#toc {
    display: none;
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 99;
  }

  #new_tag {
    border-radius: 20px;
    background-color: #ffffff;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    color: #e80000;
    margin-right: 2px;
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 12px;
    padding: 1px 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.65);
  }
  
